@model Trifold.Models.Events

@section Styles {
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
}

<div class="card">
	<h3 class="card-header">@ViewData["Title"]</h3>
	<div class="card-body">
        <form method="post">
            @*<div class="form-group">
            <label class="form-label"></label>
            <input class="form-control" asp-for="" />
        </div>*@

            <div class="form-check" style="margin-bottom: 20px">
                <input type="checkbox" class="form-check-input" asp-for="IsActive" checked>
                <label class="form-check-label" for="IsActive">Active</label>
            </div>
            <div class="form-group">
                <label class="form-label">Promoter</label>
                <select class="form-control" id="select-promoter" asp-for="EventPromoterId" asp-items="ViewBag.Promoters"></select>
            </div>
            <div class="form-group">
                <label class="form-label">Event Name</label>
                <input class="form-control" asp-for="EventName" />
            </div>
            <div class="form-group">
                <label class="form-label">Event Website</label>
                <input class="form-control" asp-for="EventUrl" />
            </div>

            <div class="form-group">
                <label class="form-label">Event Start Time</label>
                <input class="form-control datetimepicker-input" type="text" autocomplete="off" data-toggle="datetimepicker" data-target="#EventStartTime" name="EventStartTime" id="EventStartTime" />
            </div>
            <div class="form-group">
                <label class="form-label">Event End Time</label>
                <input class="form-control datetimepicker-input" type="text" autocomplete="off" data-toggle="datetimepicker" data-target="#EventEndTime" name="EventEndTime" id="EventEndTime" />
            </div>
            <div class="form-group">
                <label class="control-label" for="timezone">Time Zone</label>
                <select class="form-control" id="timezone" asp-for="TimeZone">
                    <option value="EST">Eastern</option>
                    <option value="CST">Central</option>
                    <option value="MST">Mountain</option>
                    <option value="PST">Pacific</option>
                    <option value="AKST">Alaska</option>
                    <option value="HST">Hawaii</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Event Location/Address</label>
                <input class="form-control" asp-for="EventAddress" />
            </div>
            <div class="form-group">
                <label class="form-label">City</label>
                <input class="form-control" asp-for="EventCity" />
            </div>
            <div class="form-group">
                <label class="form-label">State</label>
                <input class="form-control" asp-for="EventState" />
            </div>
            <div class="form-group">
                <label class="form-label">Zip</label>
                <input class="form-control" asp-for="EventZip" />
            </div>

            <!--Foursquare search-->
            <a name="foursquare"></a>
            <div class="form-group">
                <label class="control-label">Foursquare ID</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="FoursquareId">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="foursquare-search-btn">Search for Foursquare ID</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Latitude</label>
                <input type="text" class="form-control" asp-for="Latitude">
            </div>
            <div class="form-group">
                <label class="control-label">Longitude</label>
                <input type="text" class="form-control" asp-for="Longitude">
            </div>

            <div id="modules" style="margin-bottom: 20px;">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@((int)ModuleEnum.Beer)" checked="@Model.Modules.Where(x => x.ModuleId == ModuleEnum.Beer).Any()" name="SelectedModules">
                        <label class="form-check-label">
                            Beer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@((int)ModuleEnum.Map)" checked="@Model.Modules.Where(x => x.ModuleId == ModuleEnum.Map).Any()" name="SelectedModules">
                        <label class="form-check-label">
                            Map
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@((int)ModuleEnum.Custom)" checked="@Model.Modules.Where(x => x.ModuleId == ModuleEnum.Custom).Any()" name="SelectedModules">
                        <label class="form-check-label">
                            Custom Content
                        </label>
                    </div>
                </div>
            </div>

            <input hidden asp-for="EventImageUrl" />
            <input hidden asp-for="EventPrimaryColor" />
            <input hidden asp-for="LastUpdated" />

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="foursquare-results-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Foursquare Location</h5>
            </div>
            <div class="modal-body">
                <div class="list-group" id="foursquare-results">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#select-promoter').select2();
			$('.datetimepicker-input').datetimepicker({
				sideBySide: true,
                stepping: 30
            });

            @if(Model.EventStartTime > DateTime.MinValue)
            {
                <text>
                $('#EventStartTime').datetimepicker('date', '@Model.EventStartTime');
                $('#EventEndTime').datetimepicker('date', '@Model.EventEndTime');
                </text>
            }
            else
            {
                <text>
                $('.datetimepicker-input').datetimepicker('minDate', moment());
                </text>
            }

		});

		$('#EventStartTime').on('change.datetimepicker', function (e) {
			$('#EventEndTime').datetimepicker('minDate', e.date);
        });

        $('#foursquare-search-btn').click(function () {
            var location = $('#EventAddress').val();
            var city = $('#EventCity').val();
            var state = $('#EventState').val();
            $('#foursquare-results').html('');

            $.get("/Admin/Foursquaresearch", { location: location, city: city, state: state }, function (data) {
                $.each(data, function (i, value) {
                    $('#foursquare-results')
                        .append(`<button type="button" class="list-group-item list-group-item-action foursquare-result" data-id="${value.id}" data-lat="${value.latitude}" data-long="${value.longitude}"><span class="h6 mb-1">${value.name}</span><br /><small class="text-muted">${value.address}</small></a>`)
                });
                $('#foursquare-results-modal').modal('show');
            });
        });

        $('#foursquare-results').on('click', '.foursquare-result', function () {
            var id = $(this).data('id');
            var lat = $(this).data('lat');
            var long = $(this).data('long');

            $('#FoursquareId').val(id);
            $('#Latitude').val(lat);
            $('#Longitude').val(long);

            $('#foursquare-results-modal').modal('hide');
        });


	</script>
}
